<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="seisei_billing_menu_root"
              name="Seisei Billing"
              web_icon="seisei_billing,static/description/icon.png"
              sequence="100"/>

    <!-- Tenants Menu -->
    <menuitem id="seisei_billing_menu_tenants"
              name="Tenants"
              parent="seisei_billing_menu_root"
              action="seisei_tenant_action"
              sequence="10"/>

    <!-- Configuration Menu -->
    <menuitem id="seisei_billing_menu_config"
              name="Configuration"
              parent="seisei_billing_menu_root"
              sequence="90"/>

    <menuitem id="seisei_billing_menu_features"
              name="Features"
              parent="seisei_billing_menu_config"
              action="seisei_feature_action"
              sequence="10"/>

    <menuitem id="seisei_billing_menu_product_feature_map"
              name="Product Feature Mappings"
              parent="seisei_billing_menu_config"
              action="seisei_product_feature_map_action"
              sequence="20"/>

    <!-- Reporting Menu -->
    <menuitem id="seisei_billing_menu_reporting"
              name="Reporting"
              parent="seisei_billing_menu_root"
              sequence="80"/>

    <menuitem id="seisei_billing_menu_push_logs"
              name="Push Logs"
              parent="seisei_billing_menu_reporting"
              action="seisei_push_log_action"
              sequence="10"/>
</odoo>
